<div class = "question">
  <div>{{questionText}}</div>
  <div *ngFor="let option of answerOptions">
    <div>
      <input type="radio" name={{questionText}} value={{option}} (click)="checkSelection(option)">
      <span>{{option}}</span>
    </div>
  </div>
  <div>{{correctAnswer}}</div>
  <div *ngIf="correctIsSelected">That is correct!</div>
  <div *ngIf="!correctIsSelected">That is not correct!</div>
  <!--<div (click)="sendScore(correctIsSelected? 1 : 0)">Submit</div>-->
  <div>Submitted: {{this.submitted}}</div>
</div>
