:root{
  --gunmetal: #333745;
  --raspberry-red: #c33149;
  --carolina-blue: #009ddc;
  --light-cyan: #e0fbfc;
  --green-cyan: #009b72;
}

.question {
  width: 500px;
  padding: 10px;
  margin-bottom:10px;
  border-color: #009ddcff;
  border-style: solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  border-width: 2px;
  background-color: #e0fbfc;
}

.button {
  padding: 10px;
  border-color: #333745;
  border-style: solid;
  border-color: rgba(51, 55, 69, 0.4);
  border-radius: 15px;
  background-color: rgba(51, 55, 69, 0.03);
}
