:root{
  --gunmetal: #333745;
  --raspberry-red: #c33149;
  --carolina-blue: #009ddc;
  --light-cyan: #e0fbfc;
  --green-cyan: #009b72;
}

.question {
  background-color: #e0fbfc;
  padding: 10px;
  border-bottom: solid white 2px;
}

.button {
  background-color: rgba(51, 55, 69, 0.2);
  border-left: solid white 1px;
  border-right: solid white 1px;
  padding: 10px;
}

.button-left {
  padding: 10px;
  background-color: rgba(51, 55, 69, 0.2);
  border-right: solid white 1px;
}

.button-right {
  padding: 10px;
  background-color: rgba(51, 55, 69, 0.2);
  border-left: solid white 1px;
}
